.container {
  height: 35rem;
  .heading {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  .contact {
    color: teal;
    cursor: pointer;
  }
}
