.card {
  background: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.06);
  border-radius: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;

  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.submit-button {
  float: right;
  width: 20%;
}

.profile-component {
  margin-top: 10rem;
  display: block;
}
