`
<div
  fxLayout="column"
  *ngIf="loading"
  fxLayoutAlign="center center"
  class="loader"
>
  <mat-spinner></mat-spinner>
</div>
<div
  fxLayout="row"
  *ngIf="!loading"
  fxLayoutAlign="center center"
  class="form-margin full-width"
>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    [ngClass]="{ 'admin-form': type === 'ADMIN_LOGIN' }"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      [ngClass]="{ 'admin-login-field-container': type === 'ADMIN_LOGIN' }"
    >
      <mat-form-field
        appearance="outline"
        [ngClass]="{ 'admin-login-field': type === 'ADMIN_LOGIN' }"
      >
        <mat-label>Email or Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" />
        <mat-error
          *ngIf="!form.get('username')?.valid && form.get('username')?.touched"
        >
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        [ngClass]="{ 'admin-login-field': type === 'ADMIN_LOGIN' }"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Should be 8 characters long"
          type="password"
          formControlName="password"
        />
        <mat-error
          *ngIf="!form.get('password')?.valid && form.get('password')?.touched"
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
</div>
