<div
  fxLayout="column"
  *ngIf="employeeLoading || videoLoading || companyLoading || imageLoading"
  fxLayoutAlign="center center"
  class="loader"
>
  <mat-spinner></mat-spinner>
</div>

<div
  fxLayout="column"
  *ngIf="!employeeLoading && !videoLoading && !companyLoading && !imageLoading && !documentLoading"
  fxLayoutAlign="center center"
>
  <app-profile
    class="full-width"
    style="margin-top: 10rem"
    [employee]="details"
    [document]="documents"
    [liveliness]="liveliness"
    [selfie]="selfie"
    [company]="company.name"
    [kyeasyVerification]="company.kyeasyVerification"
    [employeeId]="employee.employeeId"
    [status]="employee.status"
    [review]="employee.review"
    [userType]="userType"
  >
  </app-profile>
</div>
