<div class="full-width" fxLayout="row" fxLayoutAlign="center">
  <ngx-charts-bar-vertical-2d
    *ngIf="!isSmall"
    [view]="view"
    [scheme]="colorScheme"
    [results]="barChartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendTitle]="legendTitle"
    [showDataLabel]="showDataLabel"
    [groupPadding]="30"
    [tooltipDisabled]="false"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-bar-vertical-2d>

  <ngx-charts-bar-horizontal-2d
    *ngIf="isSmall"
    [view]="view"
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [results]="barChartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-bar-horizontal-2d>
</div>
