.card-container {
  width: 100%;
  height: 70%;
}

.admin-sign-in-card {
  width: 50%;
  margin-top: 2%;
}

.admin-sign-in-card-mobile {
  width: 90%;
  margin-top: 2%;
}

.admin-sign-in-card-medium {
  width: 70%;
  margin-top: 2%;
}
