.mat-form-field {
  width: 100%;
  margin-top: 1%;
}

.mat-raised-button {
  width: 100%;
  margin-top: 1%;
}

.mat-stroked-button {
  width: 100%;
  margin-top: 1%;
}

.card {
  background: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.06);
  border-radius: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;

  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.back-button {
  float: left;
  width: 30%;
}

.next-button {
  float: right;
  width: 30%;
}
